<footer class="page-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="content">
                    <p>
                        <small>
                            <span>Powered by</span>
                            <a target="_blank" href="https://www.ten.xyz/">TEN</a>
                            <span> / Made by </span>
                            <a target="_blank" href="https://antonzlo.github.io/">Antonzlo</a>
                            <span> and </span>
                            <a target="_blank" href="https://foxhustle.io/">FoxHustle</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
